@model OPTFS.Models.Specialty

@{
    ViewData["Title"] = "Details";
}

<div class="offset-md-4 col-md-4">
    <div style="text-align: center">
        <h1 class="boldItalicText">Specialty Details</h1>
    </div>

    <div>        
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Active)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-lg defaultBtn" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index" class="btn btn-lg btn-danger">Back to List</a>
    </div>
</div>