@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model OPTFS.Models.Course
@{
    var myUser = await UserManager.GetUserAsync(User);
    var course = @Model;
    double price = 0, discount = 0, pure = 0;

    if (Model.Price != null)
        price = Convert.ToDouble(Model.Price.Value);
    if (Model.Discount != null)
        discount = Convert.ToDouble(Model.Discount.Value);
    pure = price - discount;
    /*decimal price = 0, discount = 0, pure = 0;
    if (Model.Price != null)
        price = Model.Price.Value;
    if (Model.Discount != null)
        discount = Model.Discount.Value;
    pure = price - discount;*/

    string box = "box";
    string badgeText = string.Empty;
    string bdClass = "bg-primary";
    if (discount > 0 && price != 0)
    {
        box = "box";
        badgeText = Math.Round(((discount / price) * 100)).ToString() + "% Off";
        bdClass = "bg-danger";
    }
}

<div class="card @box" style="zoom:80%">
    @if (discount > 0 && price != 0)
    {
        <div class="courseBadge courseBadge-top-right"><span class="@bdClass">@badgeText</span></div>
    }
    <div class="card-header text-center">
        <div style="position:absolute;left:5px;">
            @await Html.PartialAsync("RatingViewerPartial", course)
        </div>
        <strong>@course.Name</strong><br />
        by
        @if (User.IsInRole("Student"))
        {
            <a href="~/Profile/ViewTutorProfile/@course?.TutorId">@course?.Tutor?.FullName</a>
        }
        else
        {
            <span>@course?.Tutor?.FullName</span>
        }
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <img src="~/@course?.LogoUrl" style="height:150px;width:150px;" class="img-thumbnail" />
            </div>

            <div class="col-md-9">
                @*<span class="job_post">@course.Specialty?.Name</span>*@
                @*<div class="text-center" style="margin:0px;padding:0px;">
                        <input type="text" class="rating" data-size="xs" data-show-clear="false" data-show-caption="false" value="@Model.Rating" readonly>
                    </div>*@
                @*<div class="priceDiv">
                        <svg class="priceBadge" width="173" height="204" viewBox="0 0 173 204" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M54.2599 91.876C53.5881 88.9661 55.4024 86.0626 58.3123 85.3908L69.5087 82.8059C72.4186 82.1341 75.3221 83.9484 75.9939 86.8583L76.9063 90.81L55.1722 95.8277L54.2599 91.876ZM18.6457 111.894C17.722 107.893 20.2167 103.901 24.2178 102.977L108.52 83.5145C112.521 82.5907 116.513 85.0854 117.437 89.0866L136.9 173.388C137.823 177.39 135.329 181.382 131.327 182.306L47.0256 201.768C43.0245 202.692 39.0321 200.197 38.1083 196.196L18.6457 111.894ZM135.022 123.183C134.35 120.273 131.446 118.459 128.536 119.131L124.585 120.043L129.602 141.777L133.554 140.865C136.464 140.193 138.278 137.29 137.606 134.38L135.022 123.183Z" fill="#FF4500" />
                            <path d="M44.1897 138.569C50.3246 137.153 53.2029 132.651 51.9105 127.053L51.8131 126.632C50.5207 121.033 45.9516 118.736 41.2354 119.825C37.9762 120.577 36.5694 122.356 36.1242 123.751L35.5107 123.893L33.6871 115.994L47.6441 112.772L46.8032 109.129L28.8201 113.281L32.2282 128.043L37.3279 126.866C37.6935 125.651 38.5163 123.966 41.162 123.356C44.3062 122.63 47.0258 124.264 47.7959 127.599L47.8756 127.944C48.6723 131.395 47.0385 134.115 43.3192 134.974C39.6766 135.815 37.072 134.154 36.3195 130.895L36.231 130.512L32.1283 131.459L32.2256 131.881C33.4738 137.287 38.1314 139.968 44.1897 138.569Z" fill="white" />
                            <path d="M60.0747 134.336L64.0241 133.425L61.4215 122.152C60.731 119.161 61.9696 117.179 64.4236 116.612C66.6859 116.09 68.3289 117.084 68.8512 119.346L71.6927 131.654L75.6421 130.742L73.0395 119.469C72.3491 116.479 73.5877 114.496 76.0417 113.93C78.3039 113.408 79.9469 114.401 80.4692 116.664L83.3108 128.972L87.2601 128.06L84.3566 115.483C83.3651 111.189 80.1028 109.479 76.4602 110.32C73.3927 111.028 72.1688 112.724 71.7236 114.644L71.1101 114.786C69.821 113.225 67.9096 112.294 65.0722 112.949C62.3498 113.577 61.0993 115.158 60.7101 116.621L60.0966 116.763L59.5832 114.539L55.7105 115.433L60.0747 134.336Z" fill="white" />
                            <path d="M87.3037 105.433C88.8374 105.079 89.7782 103.731 89.4064 102.121C89.0346 100.51 87.5981 99.7111 86.0644 100.065C84.4923 100.428 83.5898 101.767 83.9616 103.378C84.3334 104.988 85.7316 105.796 87.3037 105.433ZM90.2671 127.366L94.2165 126.454L89.8523 107.551L85.9029 108.463L90.2671 127.366Z" fill="white" />
                            <path d="M97.3936 125.721L101.343 124.809L99.1387 115.261C98.2004 111.197 99.8342 108.477 103.093 107.725C105.969 107.061 108.04 108.158 108.801 111.455L111.351 122.498L115.3 121.587L112.68 110.237C111.555 105.367 107.759 103.094 103.465 104.085C99.8221 104.926 98.5451 106.917 98.1706 108.619L97.5571 108.761L96.9021 105.923L93.0294 106.817L97.3936 125.721Z" fill="white" />
                            <path d="M47.245 189.991L49.2482 189.529L47.4252 181.632L50.1869 180.995L49.7963 179.303L47.0346 179.94L46.626 178.171C46.5362 177.782 46.6857 177.542 47.0553 177.457L48.8834 177.035L48.4973 175.362L46.0273 175.932C44.8409 176.206 44.2725 177.116 44.5464 178.302L45.0313 180.403L42.3474 181.022L42.7381 182.715L45.422 182.095L47.245 189.991Z" fill="white" />
                        ''    <path d="M52.6994 188.732L54.7026 188.269L53.4005 182.629C53.0592 181.151 53.8117 180.24 55.1148 179.939L56.34 179.656L55.9224 177.847L54.775 178.112C53.7442 178.35 53.1488 178.877 53.0217 179.746L52.7105 179.818L52.4501 178.69L50.4858 179.144L52.6994 188.732Z" fill="white" />
                            <path d="M62.9756 186.646C65.5623 186.049 66.3535 184.33 66.681 183.087L64.8109 182.617C64.609 183.606 64.1274 184.537 62.6104 184.887C60.9961 185.259 59.5628 184.464 59.1138 182.785L66.4849 181.083L66.3098 180.325C65.6362 177.408 63.3202 175.894 60.5584 176.531C57.7384 177.182 56.2276 179.6 56.919 182.595L56.9729 182.829C57.6599 185.804 60.0583 187.32 62.9756 186.646ZM58.7785 181.244C58.6408 179.76 59.4306 178.656 60.9476 178.306C62.4451 177.96 63.6585 178.602 64.1075 180.014L58.7785 181.244Z" fill="white" />
                            <path d="M72.9719 184.338C75.5586 183.741 76.3499 182.022 76.6774 180.779L74.8072 180.309C74.6053 181.298 74.1237 182.229 72.6067 182.579C70.9925 182.952 69.5591 182.156 69.1101 180.477L76.4812 178.776L76.3061 178.017C75.6326 175.1 73.3165 173.586 70.5548 174.223C67.7347 174.875 66.2239 177.292 66.9154 180.287L66.9692 180.521C67.6562 183.497 70.0546 185.012 72.9719 184.338ZM68.7749 178.936C68.6371 177.452 69.4269 176.348 70.9439 175.998C72.4415 175.652 73.6549 176.294 74.1038 177.706L68.7749 178.936Z" fill="white" />
                            <path d="M97.681 16.7407C95.7041 16.5542 94.2527 14.8005 94.4392 12.8236V12.8236C94.6256 10.8467 96.3793 9.39531 98.3562 9.58176L107.179 10.4139C109.156 10.6003 110.607 12.3541 110.421 14.3309V14.3309C110.234 16.3078 108.48 17.7592 106.504 17.5728L97.681 16.7407Z" fill="#FF4500" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M91.9325 13.3884C92.215 14.4563 91.5784 15.5509 90.5106 15.8335C90.361 15.873 90.2118 15.9137 90.0628 15.9554C88.9992 16.2534 87.8954 15.6328 87.5974 14.5692C87.2993 13.5056 87.92 12.4018 88.9836 12.1037C89.1512 12.0568 89.3192 12.011 89.4875 11.9665C90.5553 11.684 91.65 12.3206 91.9325 13.3884ZM95.7912 12.8338C95.7584 11.7298 96.6269 10.8081 97.731 10.7754C97.9037 10.7702 98.0765 10.7663 98.2495 10.7636C99.3539 10.7462 100.263 11.6274 100.281 12.7318C100.298 13.8363 99.4169 14.7457 98.3125 14.7631C98.1581 14.7655 98.0038 14.769 97.8497 14.7736C96.7456 14.8064 95.824 13.9379 95.7912 12.8338ZM83.9936 16.0507C84.5298 17.0164 84.1816 18.2339 83.2159 18.7701C83.0816 18.8447 82.9477 18.9203 82.8142 18.9969C81.8564 19.547 80.6339 19.2165 80.0838 18.2587C79.5337 17.3008 79.8643 16.0784 80.8221 15.5283C80.9723 15.442 81.123 15.3569 81.2741 15.273C82.2398 14.7368 83.4574 15.085 83.9936 16.0507ZM104.157 13.1016C104.378 12.0194 105.435 11.3215 106.517 11.5428C106.687 11.5776 106.857 11.6136 107.028 11.6508C108.107 11.8864 108.791 12.9522 108.555 14.0314C108.319 15.1105 107.254 15.7944 106.174 15.5588C106.021 15.5254 105.868 15.493 105.715 15.4617C104.633 15.2404 103.935 14.1837 104.157 13.1016ZM76.9519 20.5763C77.7039 21.3854 77.6577 22.6508 76.8487 23.4029C76.734 23.5095 76.6198 23.6171 76.5062 23.7257C75.7077 24.4889 74.4417 24.4603 73.6785 23.6618C72.9153 22.8633 72.9439 21.5973 73.7424 20.8341C73.8694 20.7127 73.9971 20.5924 74.1254 20.4731C74.9344 19.7211 76.1999 19.7673 76.9519 20.5763ZM112.249 15.2506C112.697 14.2411 113.879 13.786 114.888 14.2342C115.045 14.3038 115.201 14.3743 115.357 14.4459C116.361 14.9064 116.802 16.0935 116.342 17.0976C115.881 18.1016 114.694 18.5423 113.69 18.0819C113.548 18.017 113.407 17.9531 113.265 17.8901C112.255 17.4419 111.8 16.2602 112.249 15.2506ZM71.1805 26.6286C72.0928 27.2514 72.3274 28.4958 71.7046 29.4081C71.6176 29.5356 71.5311 29.6639 71.4452 29.7931C70.8336 30.7129 69.5921 30.9627 68.6724 30.3511C67.7526 29.7394 67.5028 28.498 68.1144 27.5782C68.2093 27.4355 68.3049 27.2937 68.4011 27.1527C69.0239 26.2405 70.2683 26.0058 71.1805 26.6286ZM119.714 19.0561C120.353 18.1552 121.601 17.943 122.502 18.5821C122.644 18.6827 122.785 18.7842 122.926 18.8867C123.82 19.536 124.018 20.7868 123.369 21.6803C122.72 22.5739 121.469 22.772 120.575 22.1227C120.446 22.0291 120.317 21.9363 120.188 21.8445C119.287 21.2054 119.075 19.9569 119.714 19.0561ZM66.8377 33.7844C67.8534 34.2184 68.3251 35.3936 67.8911 36.4093C67.8285 36.5559 67.7665 36.7032 67.7051 36.8513C67.282 37.8716 66.1119 38.3559 65.0916 37.9328C64.0712 37.5098 63.587 36.3397 64.0101 35.3193C64.0769 35.1581 64.1445 34.9976 64.2127 34.8378C64.6467 33.8221 65.8219 33.3504 66.8377 33.7844ZM126.298 24.2281C127.089 23.4569 128.355 23.4727 129.126 24.2634C129.244 24.3841 129.361 24.5056 129.478 24.6279C130.241 25.4263 130.213 26.6923 129.415 27.4557C128.616 28.219 127.35 28.1907 126.587 27.3923C126.479 27.2795 126.371 27.1676 126.263 27.0563C125.491 26.2656 125.507 24.9994 126.298 24.2281ZM63.8897 41.6723C64.9632 41.9325 65.6226 43.0136 65.3624 44.0871C65.3265 44.2352 65.2912 44.3839 65.2563 44.5332C65.0053 45.6089 63.9298 46.2774 62.8541 46.0263C61.7785 45.7753 61.11 44.6998 61.361 43.6242C61.3984 43.4639 61.4364 43.3042 61.475 43.145C61.7351 42.0715 62.8163 41.4122 63.8897 41.6723ZM131.868 30.4628C132.772 29.8289 134.02 30.0484 134.653 30.953C134.751 31.0927 134.849 31.2332 134.946 31.3744C135.572 32.2847 135.341 33.5298 134.431 34.1556C133.52 34.7813 132.275 34.5506 131.65 33.6403C131.559 33.509 131.469 33.3783 131.378 33.2484C130.744 32.3438 130.963 31.0966 131.868 30.4628ZM62.2329 49.842C63.3319 49.9536 64.1323 50.9348 64.0208 52.0337C64.0051 52.1881 63.99 52.3429 63.9753 52.4983C63.8716 53.5979 62.8961 54.4054 61.7964 54.3017C60.6967 54.198 59.8893 53.2225 59.993 52.1228C60.0085 51.958 60.0246 51.7937 60.0412 51.6299C60.1528 50.531 61.134 49.7305 62.2329 49.842ZM136.409 37.5157C137.395 37.0177 138.598 37.4134 139.096 38.3994C139.174 38.5533 139.251 38.708 139.328 38.8632C139.818 39.8532 139.413 41.0529 138.423 41.5429C137.433 42.0329 136.233 41.6276 135.743 40.6377C135.671 40.492 135.599 40.3469 135.526 40.2025C135.028 39.2165 135.423 38.0136 136.409 37.5157ZM61.6506 58.1815C62.755 58.1676 63.6617 59.0517 63.6756 60.1562C63.6776 60.3129 63.68 60.47 63.6829 60.6275C63.7034 61.7319 62.8248 62.6438 61.7204 62.6643C60.616 62.6848 59.7041 61.8061 59.6836 60.7017C59.6805 60.5363 59.678 60.3712 59.6759 60.2065C59.662 59.102 60.5461 58.1954 61.6506 58.1815ZM139.936 45.1407C140.977 44.7706 142.12 45.3143 142.49 46.3551C142.549 46.5188 142.606 46.6831 142.664 46.848C143.026 47.8914 142.475 49.0312 141.431 49.3938C140.388 49.7565 139.248 49.2047 138.886 48.1614C138.831 48.0054 138.777 47.85 138.722 47.6952C138.352 46.6544 138.895 45.5108 139.936 45.1407ZM61.9758 66.5519C63.074 66.4332 64.0605 67.2272 64.1792 68.3254C64.1961 68.4815 64.2134 68.638 64.2311 68.7948C64.3553 69.8924 63.5662 70.8828 62.4686 71.007C61.3711 71.1312 60.3807 70.3421 60.2565 69.2445C60.238 69.0811 60.2199 68.918 60.2024 68.7552C60.0836 67.6571 60.8777 66.6706 61.9758 66.5519ZM142.51 53.132C143.585 52.8783 144.662 53.5441 144.916 54.6191C144.953 54.778 144.991 54.9373 145.027 55.097C145.275 56.1735 144.603 57.2468 143.526 57.4943C142.45 57.7417 141.376 57.0697 141.129 55.9932C141.094 55.841 141.059 55.6893 141.023 55.538C140.769 54.463 141.435 53.3858 142.51 53.132ZM63.0632 74.8807C64.1484 74.6743 65.1953 75.3867 65.4017 76.4718C65.4309 76.6253 65.4605 76.779 65.4905 76.9331C65.7014 78.0173 64.9935 79.0673 63.9093 79.2782C62.825 79.4892 61.7751 78.7812 61.5641 77.697C61.5331 77.5375 61.5024 77.3782 61.4722 77.2192C61.2658 76.1341 61.9781 75.0872 63.0632 74.8807ZM144.221 61.3323C145.316 61.1822 146.324 61.9477 146.474 63.0421C146.497 63.2054 146.519 63.3691 146.54 63.5331C146.685 64.6282 145.914 65.633 144.819 65.7774C143.724 65.9219 142.719 65.1512 142.575 64.0561C142.565 63.9832 142.556 63.9103 142.546 63.8376C142.534 63.7534 142.523 63.6694 142.512 63.5854C142.361 62.4911 143.127 61.4823 144.221 61.3323ZM64.7925 83.1213C65.8609 82.8411 66.9542 83.4801 67.2344 84.5485L67.2989 84.7936C67.5812 85.8615 66.9443 86.956 65.8765 87.2383C64.8086 87.5205 63.714 86.8837 63.4318 85.8158L63.3653 85.5632C63.0851 84.4948 63.724 83.4015 64.7925 83.1213ZM145.169 69.633C146.272 69.5744 147.213 70.4211 147.272 71.5241C147.281 71.6965 147.29 71.8691 147.298 72.0422C147.352 73.1455 146.5 74.0831 145.397 74.1364C144.294 74.1898 143.356 73.3386 143.303 72.2354C143.295 72.0686 143.286 71.9022 143.278 71.7362C143.219 70.6332 144.066 69.6915 145.169 69.633ZM145.446 77.9691C146.551 77.991 147.428 78.904 147.406 80.0084C147.403 80.1787 147.399 80.3494 147.395 80.5204C147.369 81.6246 146.452 82.4984 145.348 82.4719C144.244 82.4455 143.37 81.5289 143.396 80.4246C143.4 80.2591 143.404 80.094 143.407 79.9291C143.429 78.8248 144.342 77.9472 145.446 77.9691ZM145.136 86.3107C146.236 86.4035 147.053 87.3709 146.961 88.4716C146.947 88.6385 146.932 88.8057 146.917 88.9731C146.821 90.0735 145.85 90.887 144.75 90.7903C143.65 90.6936 142.836 89.7232 142.933 88.6229C142.947 88.4602 142.961 88.2978 142.975 88.1356C143.068 87.035 144.035 86.2179 145.136 86.3107ZM144.302 94.653C145.396 94.8085 146.156 95.8211 146 96.9147C145.977 97.0771 145.954 97.2398 145.93 97.4027C145.771 98.4958 144.756 99.2531 143.663 99.0941C142.57 98.9352 141.813 97.9202 141.972 96.8272C141.991 96.6932 142.011 96.5594 142.03 96.4258L142.04 96.3514C142.196 95.2579 143.208 94.4974 144.302 94.653ZM142.994 103.008C144.078 103.22 144.786 104.27 144.574 105.354C144.543 105.512 144.512 105.669 144.481 105.827C144.267 106.911 143.215 107.615 142.131 107.401C141.047 107.186 140.343 106.134 140.557 105.051C140.588 104.896 140.618 104.742 140.648 104.589C140.859 103.504 141.91 102.797 142.994 103.008ZM141.306 111.137C142.38 111.397 143.039 112.478 142.779 113.551C142.739 113.716 142.699 113.88 142.659 114.044C142.396 115.117 141.313 115.774 140.24 115.511C139.167 115.248 138.511 114.165 138.774 113.092C138.813 112.931 138.852 112.77 138.891 112.609C139.152 111.536 140.233 110.876 141.306 111.137ZM139.248 119.237C140.31 119.541 140.924 120.649 140.62 121.711C140.575 121.868 140.53 122.026 140.484 122.184C140.178 123.245 139.069 123.857 138.008 123.551C136.947 123.245 136.335 122.136 136.641 121.075C136.686 120.92 136.73 120.765 136.775 120.61C137.079 119.548 138.186 118.933 139.248 119.237ZM136.828 127.376C137.877 127.72 138.45 128.85 138.106 129.899L138.025 130.145C137.68 131.194 136.55 131.765 135.501 131.42C134.451 131.076 133.88 129.945 134.225 128.896L134.304 128.655C134.648 127.605 135.778 127.033 136.828 127.376Z" fill="#FF4500" />
                            <path d="M125.427 160.978C125.015 159.191 123.242 158.073 121.469 158.482C120.596 158.684 119.903 159.199 119.469 159.899C116.921 158.823 113.651 158.487 110.282 159.129L110.15 151.877L115.135 151.79C115.468 152.995 116.697 153.748 117.929 153.463C119.188 153.172 119.976 151.899 119.684 150.631C119.391 149.362 118.124 148.563 116.865 148.854C115.966 149.062 115.315 149.757 115.135 150.617L109.555 150.705C109.395 150.715 109.247 150.777 109.136 150.884C109.026 150.991 108.979 151.138 108.963 151.306L109.126 159.396C105.734 160.288 102.91 162.003 101.078 164.145C100.387 163.731 99.5073 163.553 98.6597 163.748C96.8873 164.158 95.7836 165.94 96.1961 167.726C96.501 169.047 97.5286 169.982 98.7784 170.239C98.7988 170.562 98.8508 170.905 98.9285 171.241C100.076 176.213 106.731 178.904 113.82 177.267C120.91 175.63 125.711 170.294 124.564 165.323C124.486 164.986 124.388 164.681 124.265 164.383C125.199 163.622 125.732 162.298 125.427 160.978ZM103.997 168.353C103.704 167.084 104.493 165.811 105.751 165.52C107.01 165.23 108.277 166.028 108.57 167.297C108.863 168.566 108.074 169.839 106.816 170.129C105.557 170.42 104.29 169.621 103.997 168.353ZM118.168 171.49C116.966 173.432 114.01 174.223 113.137 174.425C112.264 174.626 109.229 175.191 107.329 173.993C107.044 173.813 106.954 173.425 107.131 173.138C107.309 172.852 107.694 172.763 107.979 172.943C109.182 173.701 111.372 173.578 112.888 173.228C114.403 172.878 116.4 172.035 117.175 170.82C117.352 170.533 117.737 170.444 118.022 170.624C118.262 170.841 118.346 171.204 118.168 171.49ZM116.885 167.805C115.626 168.095 114.359 167.297 114.066 166.028C113.774 164.759 114.562 163.486 115.821 163.196C117.079 162.905 118.346 163.704 118.639 164.973C118.932 166.241 118.143 167.514 116.885 167.805Z" fill="white" />
                        </svg>

                        <svg class="pin" width="53" height="60" viewBox="0 0 53 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse rx="2.06493" ry="4.14114" transform="matrix(-0.389351 0.92109 0.92109 0.389351 18.0006 51.3473)" fill="#1B191C" />
                            <path d="M25.1484 28.0723L29.5066 29.8443L20.2898 52.5129V52.5129C18.6045 52.9588 16.8275 52.2363 15.9316 50.7409V50.7409L25.1484 28.0723Z" fill="#323033" />
                            <path d="M11.2563 29.0143L12.0962 26.9485L19.725 28.1618C20.4179 28.2472 21.1121 27.8715 21.3902 27.2066L28.1762 10.9341C28.3185 10.5928 28.3393 10.2023 28.2049 9.82883L25.6526 2.81705L47.3337 11.413L40.4991 14.6979C40.1596 14.8601 39.877 15.1408 39.7232 15.5111L32.9728 31.6985C32.6552 32.3499 32.836 33.1493 33.4438 33.5978L39.628 38.1739L38.7232 40.3565L11.2563 29.0143Z" fill="#323033" />
                        </svg>
                    </div>*@
                @if (!string.IsNullOrWhiteSpace(course?.Description))
                {
                    if (course.Description.Length <= 255)
                    {
                        <div>@course.Description</div>
                    }
                    else
                    {
                        @*<div class="trimeEct">@course.Description</div>*@
                        <div>@course.Description.Substring(0, 255) ...</div>
                    }
                }
                @if (course?.FromDate != null && course.ToTime != null)
                {
                    <div class="trimeEct"><strong>Date :</strong> From @course.FromDate.Value.ToString("dd/MM/yyyy") To @course.ToDate.Value.ToString("dd/MM/yyyy")</div>
                }

                @if (!string.IsNullOrEmpty(course?.FromTime) && !string.IsNullOrEmpty(course.ToTime))
                {
                    <div><strong>Time :</strong> From @course.FromTime To @course.ToTime</div>
                }
                <strong>Price :</strong>
                @if (discount > 0)
                {
                    <strong> Was <s class="underLinedPrice">@price</s> Now @pure SAR</strong>
                }
                else
                {
                    <strong> @pure SAR</strong>
                }

            <div>
                <strong>Lectures Days :</strong>
                @{
                    string spliter = string.Empty;
                    if (course.Sat)
                    {
                        <span>Sat</span>
                        spliter = "-";
                    }

                    if (course.Sun)
                    {
                        <span>@spliter Sun</span>
                        spliter = "-";
                    }

                    if (course.Mon)
                    {
                        <span>@spliter Mon</span>
                        spliter = "-";
                    }

                    if (course.Tue)
                    {
                        <span>@spliter Tue</span>
                        spliter = "-";
                    }

                    if (course.Wen)
                    {
                        <span>@spliter Wen</span>
                        spliter = "-";
                    }

                    if (course.Thi)
                    {
                        <span>@spliter Thu</span>
                        spliter = "-";
                    }

                    if (course.Fri)
                    {
                        <span>@spliter Fri</span>
                    }
                }
            </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <div>
            @if (User.IsInRole("Student"))
            {
                if (!myUser.HasRequest(course.Id))
                {
                    <a href="~/StudentRequests/RequestJoin/@course.Id"
                       class="btn btn-primary btn-round">Request Join</a>
                }
                else if (myUser.HasRequest(course.Id, StudentRequestStatus.New))
                {
                    <button class="btn btn-primary btn-round disabled">Waiting</button>
                }
                else if (myUser.HasRequest(course.Id, StudentRequestStatus.Rejected))
                {
                    <a href="~/StudentRequests/RequestJoin/@course.Id"
                       class="btn btn-primary btn-round">Request Again</a>
                }
                else if (myUser.HasRequest(course.Id, StudentRequestStatus.Accepted))
                {
                    var request = myUser.GetRequest(course.Id);
                    if (request != null)
                    {
                        <a href="javascript:void(0)" class="btn btn-primary btn-round"
                           onclick="createCoursePaymentForm('.paymentDiv',@course.Id,@request.Id,@pure, '@course.Name','Payment/Success', 'Payment/Complete'); ">Buy Now</a>
                    }
                }
                else if (myUser.HasRequest(course.Id, StudentRequestStatus.Payed))
                {
                    <button class="btn btn-primary btn-round disabled">
                        Payed
                    </button>
                }

                <a href="~/Profile/TutorCourseDetails/@course.Id"
                   class="btn btn-primary btn-round btn-simple">View Details</a>
            }
            else if (User.IsInRole("Tutor"))
            {
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id"
                   class="btn btn-primary btn-round btn-simple">Details</a>
                if (course.TutorId == myUser.Id)
                {
                    <div style="position:absolute;right:10px;bottom:15px">
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id"
                           class="btn-sm btn-primary" style="margin:3px">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>

                        <a asp-controller="Courses" asp-action="Edit" asp-route-id="@course.Id"
                           class="btn-sm btn-info" style="margin:3px">
                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        </a>

                        <a asp-controller="Courses" asp-action="Delete" asp-route-id="@course.Id"
                           class="btn-sm btn-danger" style="margin:3px">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>