@model IEnumerable<OPTFS.Models.ApplicationUser>

@{
    ViewData["Title"] = "Tutor Requests";
}

<div class="pageHeader">
    <h1 class="boldItalicText">Tutor Requests </h1>
</div>

<input class="ListInput col-md-11 form-control" type="text" placeholder="Search Here" />
<br />
<table class="ListTable table table-bordered table-hover table-sm">
    <thead class="datagridheader">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewRequestDateTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Qualifications)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tr">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialty.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualifications)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewRequestDateTime)
                </td>
                <td>
                    @if (item.UserFiles != null && item.UserFiles.Count > 0)
                    {
                        <div class="row">
                            @{
                                foreach (var file in item.UserFiles)
                                {
                                    <div class="col-md-4">
                                        <a href="../@file.Url">
                                            <img src="~/@file.Url" class="img-thumbnail" style="height:30px" />
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="AcceptRequests" asp-route-id="@item.Id" class="btn btn-success">Accept</a>
                    <a asp-action="RejectRequests" asp-route-id="@item.Id" class="btn btn-danger">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>
